body {
	color: #000;
	font-family: "RobotoCondensed-Light";
	font-size: 18px;
	line-height: 21px;
}
a {
	color: inherit;
}
.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
.page-section {
	margin: 200px auto;
	max-width: 1920px;
}
.title {
	font-family: "balqis";
	font-weight: 300;
	font-size: 96px;
	line-height: 128px;
	color: #e2ab3f;
	margin-bottom: 100px;
	span {
		font-size: 24px;
		line-height: 28px;
		font-family: "RobotoCondensed-LightItalic";
		color: #000000;
		display: block;
		margin-top: -30px;
	}
}
.hotel {
	&__title span {
		margin-left: 120px;
	}
	&__inner {
		display: flex;
	}
	&__images {
		margin-right: 100px;
	}
	&__text {
		margin-bottom: 20px;
	}
	&__gallery {
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__gallery a {
		margin-top: 50px;
	}
}
